@import '../../../css/_screens.scss';
@import url('https://fonts.googleapis.com/css?family=Ranga');

.navbar-nav {
  display:table;
  width:100%;
  margin: 0;
}

.navbar-nav > li {
  float:none;
  display:table-cell;
  text-align:center;
}

.navbar-nav > li > a {
  line-height: 40px;
}

@include desktop {
  .navbar-nav {
    width: auto;
  }

  .navbar-nav > li > a {
    line-height: 30px;
    padding-bottom: 5px;
  }

  #nav-item-home {
    color: black;
    font-size: 35px;

    font-family: 'Ranga', sans-serif;
  }

  #nav-item-tip {
    color: black;
    font-size: 20px;
  }

  #nav-item-profile {
    color: black;
    font-size: 20px;
  }
}

