body {
    background-color: #FFCC00;
    padding: 0;
    margin: 0;
}


h1, h2, p, ul, li {
    font-family: Helvetica, Arial, sans-serif;
}

.content {
    background-color: #FFF;
    padding: 0;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

.center-text{
    text-align: center;
}