@import "_screens";

.content h2 {
  margin-top: 15px;
}

.profile-item {
  margin-top: 25px;
}

#account-info {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  h1, h2 {
    margin: 10px auto 10px auto;
  }
}

#account-button-panel {
  display: flex;
  flex-direction: column;
  bottom: 0;
  position: fixed;
  margin: auto;
  width: 100%;
  button {
    margin: 0 auto 20px auto;
    height: 50px;
    width: 80%;
  }
}

#noaccount {
  margin-left: auto !important;
  margin-right: auto !important;
}
