$navitem-active-color: #212121;
$navitem-inactive-color: #f8f8f8;

//Solid Colors
$black: #111;
$dark-grey: #333;
$grey: #777;
$light-grey: #eee;
$off-white: #f8f8f8;
$white: #fff;

//Transparent Colors
$black-85:rgba(17, 17, 17, 0.85);
