@import "_screens.scss";
@import "_colors.scss";
@import "_fonts.scss";

$radius: 4px;
$transition: all .25s ease-in-out;
$modal-body-head-height: 100px;
$modal-body-desc-height: 200px;
$font-size: 1.2rem;

html {
  font-size: $font-size;
}

body {
  position: relative;
  font-size: 100%;
}

.gallery-container {
  padding: 0;

  @include desktop {
    padding: 20px 15px 20px 15px;
  }
  @include tablet {
    padding: 20px 10px 20px 10px;
  }
}

.gallery-sorting-container {
  text-align: center;
  font-family: $roboto;

  button {
    color: $dark-grey !important;
    opacity: 0.3;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 1.0rem;
  }

  button[disabled] {
    text-decoration: none !important;
    opacity: 1;
    cursor: default;
  }
}

.row {
  margin: 0;

  .col-sm-6 {
    padding: 0 0 30px 0;
  }

  @include tablet {
    .col-sm-6 {
      padding: 0 30px 30px 0;
    }
  }
  @include desktop {
    .col-sm-6 {
      padding: 0 30px 30px 0;
    }
  }
}

.gallery-card {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 0.2px;
  cursor: pointer;

  @include desktop {
    height: 210px;
  }
  @include tablet {
    height: 250px;
  }
  @include mobile-s {
    height: 330px;
  }
  @include mobile-m {
    height: 360px;
  }
  @include mobile-l {
    height: 380px;
  }

  .bg {
    position: absolute;
    box-shadow: 0px -20px 55px 45px $black-85;
    background: $black-85;
    width: 100%;
    bottom: 0;
  }

  .info {
    position: absolute;
    color: $off-white;
    height: 85px;
    width: 100%;
    bottom: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $roboto;

    .name {
      font-weight: bold;
      font-size: 1.5em;

    }

    .provider {
      font-size: 1em;
      width: 75%;
    }
    @include desktop {
      .name {
        font-size: 1.2em;
      }
      .provider {
        font-size: 0.9em;
      }
    }
    @include tablet {
      .name {
        font-size: 1.2em;
      }
      .provider {
        font-size: 0.9em;
      }
    }
  }
}

.gallery-thumbnail {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.card-icon-open {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  color: $off-white;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: $transition;

  &:focus,
  &:hover {
    color: $black;
  }
}

.gallery-thumbnail:focus ~ .card-icon-open,
.gallery-thumbnail:hover ~ .card-icon-open,
.gallery-thumbnail ~ .card-icon-open:focus,
.gallery-thumbnail ~ .card-icon-open:hover {
  opacity: 1;
}

.like-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1em;
  z-index: 1;

  .likes {
    position: absolute;
    color: $off-white;
    text-shadow: 0 0 1px #000000;
  }

  .heart {
    position: relative;
    color: $off-white;
    text-shadow: 0 0 1px #000000;
    font-size: 2.75rem;
  }

  .fa-heart {
    z-index: -1;
    color: rgb(243, 66, 66);
  }
}

.gallery-holder {
  display: flex;
  flex-flow: wrap;

  .gallery-item {
    margin-bottom: 15px;
    padding: 0;
    @include tablet {
      padding: 0 7.5px 0 7.5px;
    }
    @include desktop {
      padding: 0 7.5px 0 7.5px;
    }
  }
}
