@import "_screens.scss";

$black: #111;
$radius: 4px;
$transition: all .25s ease-in-out;
$modal-body-head-height: 100px;
$modal-body-desc-height: 200px;
$roboto: 'Roboto Condensed', sans-serif !important;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(21,21,21,.75);

}

.modal-body {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  z-index: 11;
  padding: 0;
  overflow: auto;
  border-radius: $radius;
  transform: translate(-50%, -50%);

  img {
    width: 100%;
    height: inherit;
  }

  @include tablet {
    width: 40%;
  }

  @include desktop {
    width: 30%;
  }
}

.modal-body-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: $roboto;
  padding: 1em;
  background: white;
  width: 100%;
  height: $modal-body-head-height;
  z-index: 1;

  .name {
    font-weight: bold;
    font-size: 1.5em;
  }

  .provider {
    color: dimgray;
    font-size: 1em;
  }

}

.modal-body-desc {
  font-size: 0.75em;
  text-align: center;
  padding: 1em;
  background: white;
  width: 100%;
  height: $modal-body-desc-height;
  z-index: 1;
  word-break: break-all;

  @include mobile-l {
    height: $modal-body-desc-height * 0.8;
  }

}

.modal-close {
  z-index: 1;
  font-size: 2.5rem;
  color: $black;
  transition: $transition;

  &:focus,
  &:hover {
    color: #c1c1c1;
  }
}


