$mobile-s-width: 320px;
$mobile-m-width: 375px;
$mobile-l-width: 425px;
$tablet-width: 768px;
$desktop-width: 992px;

@mixin mobile-s {
  @media (min-width: #{$mobile-s-width}) and (max-width: #{$mobile-m-width - 1px}) {
    @content;
  }
}

@mixin mobile-m {
  @media (min-width: #{$mobile-m-width}) and (max-width: #{$mobile-l-width - 1px}) {
    @content;
  }
}

@mixin mobile-l {
  @media (min-width: #{$mobile-l-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
