@import "_screens.scss";
@import "_colors.scss";

#home-content {
  padding: 5px;
  display: flex;
  flex-direction: column;

  .btn {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 0;

    @include tablet {
      width: 25%;
    }
    @include desktop {
      width: 15%;

    }

    @include tablet {
      width: 40%;
    }
    @include desktop {
      width: 20%;
    }
  }

  h2 {
    padding-top: 10px;
    line-height: 10%;
    margin: auto;
    font-weight: bold;
    width: 240px;
    padding-bottom: 20px;

    @include tablet {
      padding-bottom: 30px;
      width: 400px;
      font-size: 30px;
    }
    @include desktop {
      font-size: 40px;
      width: 350px;
      padding-bottom: 30px;
    }

  }

  h5 {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9rem;
    width: 90%;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    line-height: 1.6;

    @include tablet {
      font-size: 1.2rem;
      width: 70%;
      padding-top: 20px;
      padding-bottom: 20px;
      font-weight: normal;
      line-height: 1.6;
    }
    @include desktop {
      font-size: 1.2rem;
      width: 40%;
      padding-top: 20px;
      padding-bottom: 20px;
      font-weight: normal;
      line-height: 1.6;
    }

  }

  #gooddeal {
    width: 75%;
    text-transform: none !important;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    font-size: 1.4rem;

    @include tablet {
      width: 100%;
      text-transform: none !important;
      padding-top: 40px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      font-size: 2rem;
    }
    @include desktop {
      width: 100%;
      text-transform: none !important;
      padding-top: 70px;
      padding-bottom: 5px;
      margin-bottom: 0px;
      font-size: 2rem;
    }

  }

  #local {
    font-size: 0.9rem;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    font-weight: normal;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      font-size: 1.2rem;
      width: 80%;
      padding-top: 0px;
      padding-bottom: 20px;
      font-weight: normal;
      line-height: 1.6;
    }
    @include desktop {
      font-size: 1.2rem;
      width: 65%;
      padding-top: 5px;
      padding-bottom: 20px;
      font-weight: normal;
      line-height: 1.6;

    }

  }

  h3 {
    margin: 20px 0 20px 0;
    text-transform: uppercase;

    @include tablet {
      font-size: 25px;
    }
    p {
      font-size: 0.9rem;
      margin: 0px;

      @include tablet {
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
        width: 80%;
      }
      @include desktop {
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
        width: 60%;
      }
    }
    #year {
      padding-bottom: 50px;

    }

    p {
      font-size: 15px;

      @include tablet {
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
        width: 80%;
      }
      @include desktop {
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
        width: 60%;
      }
    }
  }

  hr {
    width: 5%;
    height: 2px;
    border-top-color: $light-grey;
  }
}
