.suggestion-listitem {
  display: flex;
  cursor: pointer;
  padding: 10px;

  #title {
    margin-bottom: 0px;
    flex-grow: 1;
    vertical-align: middle;
  }
  #user {
    margin-bottom: 0px;
  }
}