@import '_screens';

#home-banner-img {
  margin-top: -60px;
  height: 250px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet {
    height: 300px;
  }
  @include desktop {
    height: 400px;
  }
}

.bannerContentHolder {
  position: absolute;
  top: -60px;
  height: 250px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(61, 61, 61, 0.51);
    
    @include tablet {
      height: 300px;
    }
    @include desktop {
      margin-top: -60px;
      height: 400px;
    }
  h2, p {
    color: #eeeeee;
  }
  h2 {
    line-height: 30px;
    padding-top: 110px;
    text-transform: uppercase;
      
    @include tablet {
        margin-top: 20px;
      font-size: 2.5em;
        line-height: 40px;
    }
    @include desktop {
      margin-top: 40px;
      font-size: 3.5em;
      font-weight: bolder;
      line-height: 60px;
    }
  }
  p {
    width: 80%;
    margin: auto;
    

    @include desktop {
      font-size: 1.5em;
    }
  }
  @include desktop {
    top: 0px;

  }
}

#button-holder {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#registerButton {
  margin: auto !important;
}