@import "_screens.scss";

.back-container {
  cursor: pointer; 
}

.back {
  margin-right: 10px;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;
  margin-right: 15px;
}

@include tablet {
  .top-row {
    margin-top: 10px;
  }
}

@include desktop {
  .content {
    margin-top: 50px;
  }
}



.detail-container {

  @include desktop {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .detail-info-container {
      display: flex;
      flex-direction: row;
    }
    .detail-info-description {
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 60%;
    }
    .gallery-card {
      width: 40%;
      .name, .provider {
        visibility: hidden;
      }
    }
    .detail-comments {
    }


  }
}
