@import "_screens.scss";

.back-container {
  cursor: pointer;
}

.icon {
  margin-right: 10px;
}

.title-container {
  color: grey;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.supplier-info {
  background-color: #F9F9F9;
}

.detail-card {
  height: 350px;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;
  height: 60px;
  margin-left: 15px;
  margin-right: 15px;
}

@include tablet {
  .top-row {
    margin-top: 10px;
  }
}

@include desktop {
  .content {
    margin-top: 50px;
  }
}

.detail-info-description {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.detail-container {

  @include desktop {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .detail-info-container {
      display: flex;
      flex-direction: row;
    }
    .detail-info-description {
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 60%;
    }

    .gallery-card {
      width: 100%;
      .name, .provider {
        visibility: hidden;
      }
    }
    .detail-comments {
    }

  }
}
