@import "_screens.scss";

$font-color: #eeeeee;

#home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -40px;
  padding-left: 10px;
  width: 100%;
  z-index: 1;

  h1 {
    font-size: 40px !important;
    color: $font-color !important;
  }
}

.btn-link {
  color: $font-color !important;
  font-size: 20px !important;
}

.modal-body {
  display: flex;
  flex-direction: column;

  a {
    margin: auto;

    img {
      width: 100% !important;
    }

    @include desktop {
      img {
        width: 50% !important;
      }
    }
    @include tablet {
      img {
        width: 80% !important;
      }
    }
  }
}

h1 {
  margin: 0;
  padding: 0;
}

h3 {
  text-transform: uppercase !important;
  font-weight: bolder;
  font-size: 20px;
}