@import "screens";

#number{
    
    .info-nbr {
        float: left;
        font-size: 5em;
        padding-left: 20px;
        margin: 0px;
        
        @include tablet {
            font-size: 150px;
            float: left;
            padding-left: 0px !important;
        }
        @include desktop {
            float: left;
            font-size: 200px;
        }
    }
    
    #move {
        
        @include tablet {
            float: left;
            width: 45%;
        }
        @include desktop {
            float: left;
            width: 45%;
        }
    }
    
    #move2 {
        

        @include tablet {
            float: left;
            width: 55%;
        }
        @include desktop {
            float: left;
            width: 55%;
        }  
    }
    
    #howItWorks {
          
        @include tablet {
            text-align: right;
            width: 85%;
            font-size: 30px;
            padding-top: 50px;
        }
        @include desktop {
            text-align: right;
            width: 85%;
            font-size: 40px;
            padding-top: 50px;
        }
    
      
    }
    
}


#infotext {    
	height: auto;
    float: left;
    width: 100%;

    .left-align {
        text-align: left;
        padding-bottom: 30px;
        margin-top: 10px;
        margin-left: 70px;
        width: 75%;
        
        @include tablet {
            width: 60%;
            font-size: 14px;
            margin-top: 40px;
            margin-left: 20%;
        }
        @include desktop {
            width: 45%;
            font-size: 18px;
            margin-top: 50px;
            margin-left: 20%;
        }
        
    }
    p {
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        width: 50%;   
        
        
        @include tablet {
            margin-left: 100px;
        }
        @include desktop {
            margin-left: 100px;

        }
    }

}




h2 {
	margin-bottom: 300px;
    clear: both;
    overflow: hidden;
}

div#about-us-holder {
    p {
        
        
        @include tablet {
            margin-left: 100px;
        }
        @include desktop {
            font-size: 18px;
        }
        
    }
    
}

