@import "_screens.scss";

#header{
    margin: 0;
    background-color: #232323;
}

#header h1{
    color: #FFFFFF;
    margin: 0px;
}

#navigation{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.visible {
   display: block;
}

.invisible {
   display: none;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    background-color: #232323;
    padding: 0;
}


ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.nav-btn{
    width: 100px;
    margin-left: 5px !important;
}

.navbar-nav > li > a {
    margin-top: -4px;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #777;
    color: #eee;

    @include tablet {
        background-color: #777;
        color: #eee;
    }
    @include desktop{
        background-color: #f8f8f8;
        font-size: 1.5em !important;
        font-weight: 900;
        color: black;
  }
}


.navbar-default .navbar-nav>.active>a#nav-item-home, .navbar-default .navbar-nav>.active>a#nav-item-home:focus, .navbar-default .navbar-nav>.active>a#nav-item-home:hover  {
    font-size: 2.5em !important;
}
