@import "screens";

#home-content {
  padding: 5px;
  display: flex;
  flex-direction: column;

  .btn {
    width: 200px !important;
    margin: 0;
    margin-bottom: 20px;
  }
  h2 {
    padding-top: 10px;
    line-height: 110%;
    margin: auto;
  }

  h3 {
    margin: 20px 0 20px 0;
    text-transform: uppercase;
    }
}

hr {
  width: 30%;
  height: 2px;
  border-top-color: black;
}

