@import "screens";

.navbar {
    display: none;
}

#home-content {
  padding: 5px;
  display: flex;
  flex-direction: column;

  .btn {
    width: 80%;
    margin-left: auto;
      margin-right: auto;
    margin-bottom: 20px;
  
        @include tablet {
            width: 40%;
        }
        @include desktop {
            width: 20%;
        }
    }
    
  h2 {
    padding-top: 10px;
    line-height: 110%;
    margin: auto;
    font-weight: bold;
    width: 350px;
      
        @include tablet {
            width: 400px;
            font-size: 40px;
        }
        @include desktop {
            font-size: 60px;
            width: 600px;
      } 
  }

  h3 {
    margin: 20px 0 20px 0;
    text-transform: uppercase;
    }
}

hr {
  width: 10%;
  height: 2px;
  border-top-color: lightpink;
}

