@import "screens";

.navbar {
    //display: none;
}

#home-content {
  padding: 5px;
  display: flex;
  flex-direction: column;

  .btn {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding:0;

        @include tablet {
            width: 40%;
        }
        @include desktop {
            width: 20%;
        }

    }

  h2 {
    padding-top: 10px;
    line-height: 110%;
    margin: auto;
    font-weight: bold;
    width: 240px;

        @include tablet {

            width: 400px;
            font-size: 30px;
        }
        @include desktop {
            font-size: 40px;
            width: 350px;
      }
      
      
  }

  h3 {
    margin: 20px 0 20px 0;
    text-transform: uppercase;

        @include tablet {
            font-size: 25px;
        }
        @include desktop {
            font-size: 30px;
        }

    }
    p {
        font-size: 15px;

        @include tablet {
            margin-left: auto;
            margin-right: auto;
            font-size: 15px;
            width: 80%;
        }
        @include desktop {
            margin-left: auto;
            margin-right: auto;
            font-size: 15px;
            width: 60%;
        }
    }

}

hr {
  width: 10%;
  height: 2px;
  border-top-color: lightgray;
}
