#intro-holder {

}

.intro {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 400px;
}

#intro-1 {
    background-color: #cacaca;
}

#intro-2 {
    background-color: #dbdbdb;
}

#intro-3 {
    background-color: #cacaca;
}

#register-option{
    display: flex;
    justify-content:space-around;
    width: 50%;
    margin:auto;
}