//Import Values
@import "_colors.scss";
@import "_fonts.scss";
@import "_screens.scss";
//Import styles
@import "_account.scss";
@import "_banner.scss";
@import "_detail.scss";
@import "_homeHeader.scss";
@import "_info.scss";
@import "_inspiration.scss";
@import "_navigationBar.scss";
@import "_startPage.scss";
@import "_suggestions.scss";
@import "_suggestionsList.scss";
@import "_popup.scss";
@import "_userMenu.scss";
@import "_tips.scss";

h1, h2, h3, h4, h5, p, ul, li {
  font-family: 'Roboto Condensed', sans-serif !important;
}

.content {
  margin-top: 60px;
  background-color: $white;
  padding: 0;
  height: 100%;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.center-text {
  text-align: center;
}

:focus {
  outline: none !important;
}

::-moz-focus-inner {
  border: 0 !important;
}
