h3, h4{
   margin: 10px auto 10px auto;
}

.menu-btn {
   cursor: pointer;  
}

#popup {
   position: fixed;
   max-height: none;
   opacity: 1;
   background-color: white;
   z-index:99999;
   top: 57px;
   right: 0;
   width: 100%;
}

.menu-card {
   display: flex;
   flex-direction: column;
   padding: 15px;
}
