@import '../../../../css/_screens.scss';

//Main styles
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

//Move image down slightly
#left-col {
  margin-top: 25px;
}

#content-container {
  @include tablet {
    padding-top: 20px;
  }
}

.horizontal-container {
	display: flex;
	flex-direction: row;

	p {
		margin-top: 15px;
	}
}





#back {
	height: 50px;
	width: 50px;
}
textarea.form-control {
	height: 100px;
}
// Margin for text and input button in mobile
.text-container {
	margin: 15px;
}

//Styles for mobile are equal. How do you nest includes?
@include mobile-s {
	#left-col {
		margin-top: 5px;
	//   margin-left: 0px;
	// 	margin-right: 0px;
	}

	.items-container {
		display: table;
		margin-left: -15px;
		margin-right: -15px;
	}

	#product-image {
		width: 100%;
		height: auto;
	}

}

@include mobile-m {
	#left-col {
		margin-top: 5px;
	//   margin-left: 0px;
	// 	margin-right: 0px;
	}

	.items-container {
		display: table;
		margin-left: -15px;
		margin-right: -15px;
	}

	#product-image {
		width: 100%;
		height: auto;
	}
}

@include mobile-l {
	#left-col {
		margin-top: 5px;
	//   margin-left: 0px;
	// 	margin-right: 0px;
	}

	.items-container {
		display: table;
		margin-left: -15px;
		margin-right: -15px;
	}

	#product-image {
		width: 100%;
		height: auto;
	}
}
